.App {
  width: 100%;
  height: calc(100vh - 8rem);
  background-color: #FFFFFF;
}

.TopBar {
  width: 100%;
  height: 8rem;
  box-shadow: 0px -1px 0px 0px #E2E2EA inset;
  ;
}

.MainLayout {
  display: flex;
  height: 100%;
}